/* ----------
    Global
---------- */

*{
    padding: 0px;
    margin: 0;
    background-color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 5px;
    padding: 5px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.user-input{
    border: solid 1px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 2px;
    width: 95%;
    height: 25px;
    background-color: white;
}

button{
    border: 2px solid;
    border-radius: 5px;
    background-color:rgb(230, 230, 230);
    height: 30px;
    padding: 5px;
    margin-top: 5px;
    width: max-content;
}

/* ----------
    Input Field
---------- */

#input-data{
    align-self: flex-start;
    width: 40%;
}

/* Budget  */
#input-budget{
    border: green solid 2px;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
}

#budgetUi, #btn-budget-calculate{
    border-color: green;
    color: green;
}

/* Expenses */

#input-expense{
    border: red solid 2px;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

#expenseNameUi, #expenseAmountUi, #btnAddExpense{
    border-color: red;
    color: red;
}

/* ----------
    Info Display
---------- */

#info-display{
    align-self: flex-start;
    width: 60%;
}

.icon{
    color: slateblue; 
    font-size: 60px;
}

.showcase-box{
    margin-left: 40px;
    width: 20%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-top: 10px;
    align-items: center;
}

.showcase-box p{
    font-size: 25px;
}
#expense-list{
    margin-left: 40px;
    width: 60%;
}

#expense-list p{
    margin-right: 100px;
}

.expenseItem{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.fuckingkillme{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap: 3px;
}